<% articles = Article.where(issue_id: @issue.id, category_id: category.id) %>

<% if articles.any? %>
  <div class="issue-toc-category">
    <%= category.name %>
  </div>
  <% articles.each do |article| %>
    <div>
      <%= link_to article do %>
        <div class="issue-toc-article">
          <%= article.title %>
          <% if article.author_id.present? %>
            <div class="issue-toc-author">
              BY <%= Author.find(article.author_id).name %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>