<p id="notice"><%= notice %></p>

<h1>Search Result</h1>

<div>
  <% @articles.each do |article| %>
    <%= link_to HTML_Truncator.truncate(article.content, 12).html_safe, article %>
    <hr/>
  <% end %>
</div>

<br>
