/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require medium-editor
 *= require medium-editor-themes-tim
 *= require medium-editor-insert-plugin
 *= require slick-carousel
 *= require_tree .
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  max-width: 730px;
}

.footer {
  width: 100%;
  display: inline-block;
  margin: 30px 0;
  text-align: center;
  font-weight: bold;

  hr {
    border-top: 5px solid #000;
  }

  .sns {
    padding: 0 20px;
  }
}

.scribe {
  margin: 50px 0;
  text-align: center;
  font-weight: bold;

  .underline {
    padding-bottom: 5px;
    border-bottom: lightgrey 1px solid;
  }
}

.last-issue-cover {
  position: relative;
  overflow: hidden;

  .last-issue-img {
    width: 750px;
    height: 450px;
    overflow: hidden;

    img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      width:100%;
    }
  }

  .last-issue-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 40px;

    .last-issue-tagline {
      text-decoration: underline;
      color: black;
      line-height: 45px;
    }

    .last-issue-number {
      margin-top: 30px;
      text-transform: uppercase;
      color: #00FFFF;

      h1 {
        margin-top: 0;
      }
    }
  }
}

.issue-list {
  margin-bottom: 20px;
  text-align: center;  
  text-transform: uppercase;
  font-weight: bold;
  color: #000;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.issue-toc-left {
  transform: rotate(270deg);
  text-transform: uppercase;
  white-space: nowrap;
}

.issue-toc-category {
  margin-top: 20px;
  color: #0000FF;
  text-transform: uppercase;
}

.issue-toc-article {
  display: inline-block;
}

.issue-toc-author {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}