/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require medium-editor
 *= require medium-editor-themes-tim
 *= require medium-editor-insert-plugin
 *= require slick-carousel
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: "IdealSans";
  src: font_url("IdealSans-Book.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "IdealSans";
  src: font_url("IdealSans-Bold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "IdealSans";
  font-size: 12px;
}

.container {
  max-width: 730px;
}

.header {
  padding: 20px 0;
  
  a {
    color: black;
  }

  .header-search-bar {
    position: relative;

    input { 
      border: none;
      border-bottom: 1px solid lightgrey;
    }
  }
  
  .header-search-box {
    width: 100%;
    margin: 20px;
    padding: 0 20px;
    border: 3px solid #00ffff;
    font-size: 24px;
  }
}

.footer {
  width: 100%;
  display: inline-block;
  margin: 30px 0;
  text-align: center;
  font-weight: bold;

  hr {
    border-top: 5px solid #000;
  }

  .sns {
    padding: 0 20px;
  }
}

.scribe {
  margin: 50px 0;
  text-align: center;
  font-weight: bold;

  .underline {
    padding-bottom: 5px;
    border-bottom: lightgrey 1px solid;
  }
}