/////////////////////////////////
// Show page (Article Content)
/////////////////////////////////

.article-content {
  padding: 20px;
}

/////////////////////////////////
// Edit page
/////////////////////////////////

select {
  width: 300px;
}

#article_title {
  width: 500px;
}

/////////////////////////////////
// Search page (Search Result)
/////////////////////////////////

.search-result {
  a {
    color: black;
  }

  .search-result-category {
    font-size: 20px;
  }
}