/////////////////////////////////
// Show page (Article Content)
/////////////////////////////////

.article-content {
  padding: 20px;
}

/////////////////////////////////
// Edit page
/////////////////////////////////

select {
  width: 300px;
}

#article_title {
  width: 500px;
}

/////////////////////////////////
// Search page (Search Result)
/////////////////////////////////

.search-result {
  margin-bottom: 40px;

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }

  h1:hover {
    text-decoration: underline;
  }

  p, h1 {
    margin: 0;
  }

  .search-result-category {
    font-size: 20px;
  }
}