/////////////////////////////////
// Index page (Home)
/////////////////////////////////

.last-issue-cover {
  position: relative;
  overflow: hidden;

  .last-issue-img {
    width: 750px;
    height: 450px;
    overflow: hidden;

    img {
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
      width:100%;
    }
  }

  .index-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    .header-right {
      padding-right: 30px;
    }
  }

  .last-issue-caption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 40px;

    .last-issue-tagline {
      text-decoration: underline;
      color: black;
      line-height: 45px;
    }

    .last-issue-number {
      margin-top: 30px;
      text-transform: uppercase;
      color: #00FFFF;

      h1 {
        margin-top: 0;
      }
    }
  }
}

.last-issue-items {
    padding: 20px 0;
    background-color: lightgrey;  

  .last-issue-item {
    height: 200px;
    border: white 1px solid;

    .last-issue-item-details {
      img {
        width: 100%;
      }

      .last-issue-item-caption {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 15px;
        text-align: center;
        color: black;

        h2 {
          font-size: 20px;
          text-decoration: underline;
        }
      }
    }
  }

  .article-slider-controls {
    padding-top: 20px;
    text-align: center;
  }
}

/////////////////////////////////
// Show page (Table of Content)
/////////////////////////////////

.issue-list {
  margin-bottom: 20px;
  text-align: center;  
  text-transform: uppercase;
  font-weight: bold;
  color: #000;

  img {
    width: 100%;
    margin-bottom: 10px;
  }
}

.issue-toc-left {
  transform: rotate(270deg);
  text-transform: uppercase;
  white-space: nowrap;
}

.issue-number {
  top: 80px;
  color: blue;
  font-size: 24px;
  font-weight: bold;

  a {
    color: lightgrey;
  }
}

.issue-toc-category {
  margin-top: 20px;
  color: #0000FF;
  text-transform: uppercase;
}

.issue-toc-article {
  display: inline-block;
  color: black;
}

.issue-toc-author {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
}