.last-issue-items {
    padding: 20px 0;
    background-color: lightgrey;  

  .last-issue-item {
    height: 200px;
    border: white 1px solid;

    .last-issue-item-details {
      img {
        width: 100%;
      }

      .last-issue-item-caption {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: 15px;
        text-align: center;
        color: black;

        h2 {
          font-size: 20px;
          text-decoration: underline;
        }
      }
    }
  }

  .article-slider-controls {
    padding-top: 20px;
    text-align: center;
  }
}
