<div class="footer">
  <span class="sns"><a target="_blank" href="https://www.facebook.com/artasiapacificmagazine/">facebook</a></span>
  <span class="sns"><a target="_blank" href="https://twitter.com/artasiapacific">twitter</a></span>
  <span class="sns"><a target="_blank" href="https://www.instagram.com/artasiapacific/">instagram</a></span>
  <span class="sns"><a target="_blank" href="https://www.linkedin.com/company/art-asia-pacific">linked in</a></span>
  <% if showNewsletters %>
    <span class="sns">newsletters</span>
  <% end %>
  <hr/>
</div>