<div class="footer">
  <span class="sns">facebook</span>
  <span class="sns">twitter</span>
  <span class="sns">instagram</span>
  <span class="sns">linked in</span>
  <% if showNewsletters %>
    <span class="sns">newsletters</span>
  <% end %>
  <hr/>
</div>