<div class="header">
  <div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-6 text-center"><a href="/">artasiapacific</a></div>
    <div class="col-sm-3 text-right">log in</div>
  </div>
  <div class="row">
    <div class="col-sm-2 text-left"></div>
    <div class="col-sm-8 text-center">
      <form action="/search">
        <input class="header-search-box" type="text" name="q" placeholder="Search">
      </form>      
    </div>
    <div class="col-sm-2 text-right"></div>
  </div>
</div>