<div class="header">
  <div class="row">
    <div class="col-sm-3 text-left"></div>
    <div class="col-sm-6 text-center"><a href="/">artasiapacific</a></div>
    <div class="col-sm-3 text-right">log in</div>
  </div>
</div>